@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat";
}
h2{
    color: rgb(120, 104, 14);
}
button{
    padding: 0.5em;
    margin-bottom: 1em;
}